<script lang="ts">
  import { questions, answers } from "../store";

  const maxScore = $questions.length;
  const score = $answers
    .map((a) => (a.answer === "correct" ? 1 : 0))
    .reduce((a, b) => a + b, 0);

  const indices = [...Array(maxScore).keys()];
</script>

<div>
  <div class="eval">
    Good job! You've got {score} out of {maxScore} correct!
  </div>

  <table>
    <thead>
      <tr>
        <th />
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {#each indices as i}
        <tr>
          <td class="answer">
            {#if $answers[i].answer == "correct"}
              ✅
            {:else}
              ❌
            {/if}
          </td>
          <td>
            {#if $questions[i].is == "published"}
              <a href="https://doi.org/{$questions[i].realDoi}" target="_blank"
                >{$questions[i].paperName}</a
              >
            {:else}
              {$questions[i].paperName}
            {/if}
          </td>
          <td>
            {#if $questions[i].is == "published"}
              <a href="https://doi.org/{$questions[i].realDoi}" target="_blank"
                >{$questions[i].is}</a
              >
            {:else}
              {$questions[i].is}
            {/if}
          </td>
        </tr>
      {/each}
    </tbody>
  </table>

  <div>
    Generate your own at <a href="https://xopaleny.pages.fi.muni.cz/metapaper/"
      >https://xopaleny.pages.fi.muni.cz/metapaper/</a
    >
  </div>
</div>

<style>
  .incorrect {
    background-color: red;
  }
  .correct {
    background-color: limegreen;
  }
  .eval {
    font-size: x-large;
    margin: 1em;
  }
  td {
    padding: 0em 1em;
  }
</style>
