<script lang="ts">
  import { answers, ended } from "./store";
  import Question from "./lib/Question.svelte";
  import End from "./lib/End.svelte";

  let started = false;
</script>

<main>
  {#if !started}
    <span class="quiz-title"
      >Is this paper randomly generated, or pubilshed was it published in IEEE
      VIS?</span
    >
    <div class="card">
      Take this quiz to find out how well can you decide between papers
      generated using our generator and papers published in IEEE VIS. The
      responses are anonymously collected for further research efforts.
    </div>
    <button
      on:click={() => {
        started = true;
      }}>Start!</button
    >
  {:else}
    <div class="card">
      {#if $ended}
        <End />
      {:else}
        <Question />
      {/if}
    </div>
  {/if}
</main>

<style>
  .quiz-title {
    font-size: x-large;
  }
</style>
